
@{
    ViewBag.Title = "DeleteDepartments";
}
<div class="content container-fluid">
    <div class="modal-dialog">
        <div class="modal-content modal-md">
            @if (TempData["error"] != null)
            {

                <div class="alert alert-danger" id="alert-success" role="alert">
                    @TempData["error"]
                </div>

            }
            else if (TempData["success"] != null)
            {
                <div class="alert alert-success" id="alert-success" role="alert">
                    @TempData["success"]
                </div>
            }
            <div class="modal-header">
                <h4 class="modal-title">Delete Employee</h4>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="modal-body card-box">
                    <p>Are you sure want to delete this?</p>
                    <div class="m-t-20">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
